{% extends 'base.html' %}
{% block content %}
{{super()}}
<h1> О разработчике Зубарев Данила Валерьевич</h1>
<h1> Средний балл 3.7</h1>
<div class="img_me">
<img src = 'https://www.iguides.ru/upload/medialibrary/9f8/9f8fdff471b7d281f81f694c100b5adc.png'>
 <table border="2" position="relative"top="100" left="150" >
   <tr>
    <th>Предмет</th>
    <th>Оценка</th>
   </tr>
   <tr>
    <td>Математика</td>
    <td>3</td>
  </tr>
         <tr>
              <td>Культура речи</td>
    <td>4</td>
         </tr>
         <tr>
             <td>Физ-ра</td>
             <td>5</td>
         </tr>

 </table>
</div>

{% endblock %}


